<!DOCTYPE html>
<html>
<head>
<link data-turbolinks-track="true" href="/assets/user.css?body=1" media="all" rel="stylesheet"/>
<link data-turbolinks-track="true" href="/assets/post.css?body=1" media="all" rel="stylesheet"/>
</head>
<body>
<%= render partial: "shared/user", locals: {user: @user} %>
<div class="user-bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
</div>

<% @user.recent_posts.each do |post| %>
    <%= render partial: "shared/post", locals: {post: post} %>
<% end %>
<%= link_to "See All Posts", user_posts_path(@user) %>
</body>
</html>
