<div class="comments-div">
<% if comments.empty? %>
<h5>No Comments yet</h5>
<% end %>
<% comments.each do |comment| %>
        <p><%= comment.author.name%> : <%= comment.text %></p>
<% end %>

</div>