<!DOCTYPE html>
<html>
<head>
<link data-turbolinks-track="true" href="/assets/post.css?body=1" media="all" rel="stylesheet"/>
<link data-turbolinks-track="true" href="/assets/user.css?body=1" media="all" rel="stylesheet"/>

</head>
<body>
<%= render partial: "shared/user", locals: {user: @user} %>
 
<% if @user.posts.empty? %>
<p>There is no post yet.</p>
<% end %>
<%= link_to "New Post", new_user_post_path %>
<% @user.posts.each do |post| %>
    <%= render partial: "shared/post", locals: {post: post} %>
    <div class="comments-div">
        <% post.recent_five_comments.each do |comment| %>
        <h5>Username : <%= comment.text %></h5>
    <% end %>
</div>
<% end %>

</body>
</html>