/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.login-div,
.sign-up-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
}

.login-form,
.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.field input {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 400px;
}

.actions input {
  color: blueviolet;
  background-color: antiquewhite;
  border-radius: 10px;
  border: 0;
  padding: 10px 450px;
}

.actions input:hover {
  color: antiquewhite;
  background-color: rgb(165, 119, 209);
}
